@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

 button.slick-next{
    right: 80px;
    z-index: 10;
}

  button.slick-prev{
    left: 20px;
    z-index: 10;

}

 button.slick-next::before{
    color: gray;
    content: '\276F';
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
 button.slick-prev::before{
    color: gray;
    content: '\276E';
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-slider button.slick-next{
    right: 80px;
    z-index: 10;
}

.custom-slider  button.slick-prev{
    left: 20px;
    z-index: 10;

}

.custom-slider button.slick-next::before{
    color: gray;
    content: '\276F';
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-slider button.slick-prev::before{
    color: gray;
    content: '\276E';
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    appearance :none
}
/* .my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: auto;
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
  } */
  
  .my-masonry-grid_column > div { 
    margin-bottom: 20px;
  }
  .w500{
    width: 500px;
  }
  code{
    white-space: initial;
  }
  .edit-mode-select {
    width: 50px/* your desired width */;
    /* Add any other styles you want for the edit mode */
  }
  